@use '../abstracts/variables' as v;
@use '../abstracts/mixins'    as m;



.header-principal-lc{
    .container{
        padding-left: 0px;
        @include m.breakpoint(tablet){
            padding-left: 39px;
            
        }
    }
    



    height: 550px ;
    background-image: url("/Maps.svg");
    @include m.breakpoint(tablet){
        background-image: url("/BitmapM.svg");
        &::before{
            content: "";
            position: absolute;
            top: 29%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-image: url("/Icono.svg");
            width: 66px;
            height: 88px;

        }

    }
    @include m.breakpoint(desktop-xl){
        background-image: url("/BitmapXl.svg");
        &::before{
            content: "";
            position: absolute;
            top: 29%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-image: url("/Icono.svg");
            width: 66px;
            height: 88px;

        }

    }





    background-size: 100%;
    background-repeat: no-repeat;
    .header__buttons-lc{
        z-index: 1;
        display: flex;
        flex-direction: row;


        .row-lc{
            display: flex;
            background-color: v.$brown;
            width: 56px;
            height: 72px;
            align-items: center;
            justify-content: center;
            
            
            img{
                width: 8px;
                height: 24px;


            }
        }
        :hover{
                background-color: v.$black;
        }
        .button{
            @include m.btn1;
            display: flex;
            font-family: v.$font-principal;
            line-height: 100%;
            font-weight: 800;
            letter-spacing: 3.64px;
            height: 72px;
            align-items: center;
            
            
   
        }
        @include m.breakpoint(desktop-xl){
            margin-left: 156px;
        }
    }


}
