// ============================
// BREAKPOINTS
// ============================
$bp-mobile:     480px;
$bp-tablet:     768px;
$bp-desktop:    1024px;
$bp-desktop-xl: 1440px;

// ============================
// COLORES
// ============================
$brown:  #D5966C;
$black:  #151515;
$grey:   #444444;
$white:  #ffffff;

// ============================
// FUENTES
// ============================
$font-principal: "Big Shoulders", sans-serif;
$font-secondary: "Outfit", sans-serif;




// ============================
// TAMAÑO-FUENTES
// ============================

$headXL: 96px;
$headL:  70px;
$headM:  60px;
$headS:  36px;
$bodyM:  22px;
$bodyS:  18px;

